<% unless @issue.new_record? &&
  @issue.issue_template.present? &&
  @issue.issue_template.autocomplete_subject &&
  @issue.issue_template.subject.present? %>
  <p><%= f.text_field :subject, :size => 80, :maxlength => 255, :required => true %></p>
<% end %>
