<% if @issue.issue_template.present? && @issue.issue_template.tracker_read_only %>
  <%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true}, {style: "display:none;"} %>
  <span class="read-only"><%= @issue.tracker %></span>
<% else %>
  <%= f.select :tracker_id, trackers_options_for_select(@issue), {:required => true},
               :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %>
<% end %>
