<% value = reload_current_value(@sections_attributes, section, group_index) || section.text %>
<p>
  <%= label_tag do %>
    <%= section.title %>
    <% if section.required %>
      <span class="required"> *</span>
    <% end %>
    <% if section.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= section.description %>
      </em>
    <% end %>
  <% end %>
  <%= form.check_box :text,
                     no_label: true,
                     required: section.required,
                     checked: (value == '1')
  %>
</p>
