<%= render 'issues/sections/separator_form' %>
<div class="subtitle_container">

  <% if section.title.present? %>
    <div class="subtitle">
      <%= section.title %>
    </div>
  <% end %>

  <% if section.retracted && group_index == '0' %>
    <%= link_to '', '#', class: "expand_button expander icon icon-add", data: {group_id: section.id} %>
    <%= link_to '', '#', class: "expand_button retracter icon icon-cancel", data: {group_id: section.id} %>
  <% end %>

</div>
