.pull-right-with-marging {
    float: right;
    margin-right: 1em;
}

.separator{
    border-bottom: 1px solid #CCCCCC;
    width: 50%;
    margin: 10px 25%;
}

#form-select-issue-template{
    float: right;
    margin-right: 10px;
}

.template_box{
    border: 1px dashed #d3d3d3;
    padding: 5px;
    margin-bottom: 10px;
}

.template_box table.list{
    margin-top: 10px;
}

.template_tracker{
  margin: 0 0 5px 0;
}

.template_id{
    width: 100px;
}
.template_subject{
    width: auto;
    max-width: 300px;
}
.template_title{
    width: 250px;
}
.template_author, .template_update{
    width: 160px;
}
.template_enable{
    width: 50px;
}

.box.header {
    background-color: #edf3fe;
}

form#issue-template-form #issue_template_template_title {
    width: 350px;
}
form#issue-template-form .select_projects{
    margin: 0;
    padding: 3px 0 3px 0;
    padding-left: 50px;
    min-height: 1.8em;
    clear: left;
}

.list_templates_projects_names{
    padding: 2px 4px;
}
.list_templates_projects_names.hover{
    background-color: #468847;
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}