#admin-menu a.issue-templates {
    background-image: url(../images/duplicate.png);
}

#main-menu .menu-children {
    margin-left: -3px;
}

#main-menu .menu-children li a {
    padding-top: 8px;
    margin: 0;
}

#main-menu .menu-children li a.new-issue-sub {
    background-color: #f6f6f6;
    font-style: italic;
    color: #999999;
}

#main-menu .menu-children li a.new-issue-sub:hover, #main-menu .menu-children li a.new-issue-sub:focus {
    background-color: #229e43;
    font-style: italic;
    color: #fff;
}

.pull-right {
    float: right
}

.pull-right-with-margin {
    float: right;
    margin-right: 1em;
}

#form-select-issue-template {
    float: right;
    margin-right: 10px;
}

table#templates_list td, table#templates_list th {
    text-align: left;
}

table#templates_list td.center, table#templates_list th.center {
    text-align: center;
}

table#templates_list td div {
    max-height: 110px;
    overflow: auto;
}

table .template_icon {
    width: 44px;
}

.template_box {
    border: 1px dashed #d3d3d3;
    padding: 5px;
    margin-bottom: 10px;
}

.template_box table.list {
    margin-top: 10px;
}

.template_tracker {
    margin: 0 0 5px 0;
}

.template_id {
    width: 100px;
}

.template_subject {
    width: auto;
    max-width: 300px;
}

.template_title {
    width: 250px;
}

.template_author, .template_update {
    width: 160px;
}

.template_enable {
    width: 50px;
}

.template_projects {
    max-width: 300px;
    white-space: normal;
}

table#templates_list td.template_column_count, table#templates_list th.template_column_count {
    text-align: center;
}

.box.header {
    background-color: #edf3fe;
}

form#issue-template-form #issue_template_template_title {
    width: 300px;
}

form#issue-template-form .select_projects {
    margin: 0;
    padding: 3px 0 3px 0;
    /* padding-left: 50px; */
    min-height: 1.8em;
    clear: left;
}

#select_projects {
    max-height: 150px;
    overflow: auto;
}

.list_templates_projects_names {
    padding: 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    /* line-height: 24px; */
    margin: 1px 0 2px 0;
    display: inline-block;
}

a.list_templates_projects_names.hover {
    color: #ffffff;
    background-color: darkgrey;
    text-decoration: none;
    border: 1px solid darkgrey;
}

a.list_templates_projects_names.current {
    color: #ffffff;
    background-color: #707070;
    border: 1px solid #707070;
}

#select_projects label {
    font-weight: normal;
    float: none;
    text-align: right;
    /* width of left column */
    margin-left: 0;
    /* width of labels. Should be smaller than left column to create some right margin */
    width: 175px;
}

.projects_container {
    max-height: 500px;
    overflow: auto;

    border-bottom: 1px solid #d3d3d3;
}

#project_nested_list.columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding-bottom: 10px;
}

#project_nested_list label.inactive {
    color: #d3d3d3;
}

.actions_links {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}

#link_update_project_list {
    /* margin-left: 50px; */
}

.templates_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.template_card {
    border: 1px solid #D8DDE6;
    border-radius: 2px;
    position: relative;
    background: #fff;
    transition: all 150ms ease-in-out;
    color: #3F3F44;
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    padding: 20px;
    margin-bottom: 15px;
    flex: 1 0 39%;
    margin-right: 15px;
    cursor: pointer;
}

.template_card .template-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin: 0 auto;
}

.template_card .error {
}

.template_card .template-title {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.template_card .template-description {
    font-size: 11px;
    color: #4C4C4C;
    margin-top: 10px;
    margin-bottom: 0;
}

.template_card:hover {
    text-decoration: none !important;
    background-color: #FCF5C1;
}

.link-cursor {
    cursor: pointer;
}

#issue-form .instruction {
    margin: 1.5em 0 1em 180px;
    min-height: 2em;
    clear: left;
    border: none;
    padding: 1.5em 1.5em 1.5em 48px;
    line-height: 1.4em;
    color: #333;
    text-align: left;
    display: block;
    font-size: 12px;
    max-width: 800px;
}

#issue-form .instruction p {
    padding-left: 0;
}

.instruction-warning {
    background: #f9d9d8 url(../images/tab_red.png) no-repeat left top;
}

.instruction-note {
    background: #fff9d8 url(../images/tab_note.png) no-repeat left top;
}

.instruction-info {
    background: #d5e9f6 url(../images/tab_info.png) no-repeat left top;
}

#issue-form .instruction.instruction-comment {
    font-style: italic;
    padding: 0;
}

.issue .description h2 {
    padding: 0;
    text-decoration: underline;
    margin: 1em 0 0.9em 0;
    font-size: 15px;
}

#issue-form textarea {
    padding: 0.5em;
}

#issue-form em.info {
    font-weight: normal;
    font-size: 95%;
}

.sections h2 {
    margin-top: 1em;
}

.sections .split_description {
    border-bottom: dotted 1px lightgray;
    margin: 0 0.8em;
    padding: 0.5em;
    background-color: #ffffff;
}

#template_sections .icon-add {
    background-position: 3px 50%;
    padding-left: 22px;
}

.sections .position-section-tooltip {
    position: absolute;
    padding: 7px 0 0 0;
    font-size: larger;
    color: darkgray;
    display: none;
    margin-left: 23px;
}

.sections .split_description.hover .position-section-tooltip {
    display: inline;
}

.sections .sort-handle {
    position: absolute;
    padding: 8px;
    margin-left: 2px;
}

.sections a.icon-del,
.sections a.expand_collapse {
    margin-top: 6px;
    display: inline-flex;
    margin-right: 3px;
    vertical-align: middle;
}

.sections .split_description.collapsed .collapsible {
    display: none;
}

.sections .split_description .possible-values {
    margin: 0;
    padding: 3px 0 3px 180px;
    min-height: 2em;
    clear: left;
}

.sections .split_description .possible-values ul {
    margin-bottom: 4px;
}

.sections .split_description possible-values label {
    line-height: 2em;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-left: -180px;
    width: 175px;
}

.sections .split_description .possible-values li {
    cursor: move;
    list-style: none;
    width: -moz-max-content;
    width: max-content;
}

.sections .split_description.section_group, .sections .split_description.separator {
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    margin-bottom: 1em;
}

.split_description.separator .line {
    height: 1px;
    width: 100%;
    background: #c0c0c0;
    vertical-align: middle;
    display: inline-flex;
    margin-top: 4px;
    max-width: 350px;
}

#issue-form #all_attributes .separator {
    height: 1px;
    width: calc(100% + 12px);
    margin: 22px -6px 2em;
    background: #e4e4e4;
    vertical-align: middle;
    display: inline-flex;
}

#issue-form #attributes .subtitle_container {
    display: flex;
    flex-direction: row;
    margin: -24px 0 8px -6px;
    min-height: 2em;
}

#issue-form #attributes .subtitle {
    font-size: 13px;
    background-color: #e4e4e4;
    padding: 0.5em 1em;
    width: -moz-max-content;
    width: max-content;
    flex: 0 1 auto;
}

#issue-form #attributes .expand_button {
    font-size: 13px;
    padding: 0.5em 1em;
    background-repeat: no-repeat;
    background-position: 10px center;
    line-height: 18px;
    height: 18px;
    width: 18px;
    flex: 0 1 auto;
}
#issue-form #attributes .expander {
    display: none;
}

#issue-form #attributes .retracted .section_group_repeater,
#issue-form #attributes .retracted .section_group_content,
#issue-form #attributes .retracted .retracter {
    display: none;
}
#issue-form #attributes .retracted .expander {
    display: block;
}

#issue-form #attributes label.no-style {
    font-weight: normal;
    float: none;
    text-align: left;
    margin-left: 0;
    width: 175px;
    line-height: 24px;
}

#issue-form #attributes label .info {
    margin-top: -6px;
}


@media screen and (max-width: 899px) {
    #issue-form .instruction {
        margin-left: 0;
    }

    #issue-form #all_attributes .separator {
        margin: 1em -6px;
    }

    #issue-form label {
        display: inline-block;
    }

    #issue-form #all_attributes input {
        width: auto;
    }
}

.selected-button-icon {
    background-color: #FCF5C1;
}