.pull-right-with-marging {
    float: right;
    margin-right: 1em;
}

.separator{
    border-bottom: 1px solid #CCCCCC;
    width: 50%;
    margin: 10px 25%;
}

#form-select-issue-template{
    float: right;
    margin-right: 10px;
}

table#templates_list td, table#templates_list th{
   text-align: left;
}
table#templates_list td.center, table#templates_list th.center{
    text-align: center;
}

.template_box{
    border: 1px dashed #d3d3d3;
    padding: 5px;
    margin-bottom: 10px;
}

.template_box table.list{
    margin-top: 10px;
}

.template_tracker{
  margin: 0 0 5px 0;
}

.template_id{
    width: 100px;
}
.template_subject{
    width: auto;
    max-width: 300px;
}
.template_title{
    width: 250px;
}
.template_author, .template_update{
    width: 160px;
}
.template_enable{
    width: 50px;
}
.template_projects{
    max-width: 300px;
    white-space:normal;
}

.box.header {
    background-color: #edf3fe;
}

form#issue-template-form #issue_template_template_title {
    width: 350px;
}

form#issue-template-form .select_projects{
    margin: 0;
    padding: 3px 0 3px 0;
    padding-left: 50px;
    min-height: 1.8em;
    clear: left;
}

#select_projects{
    max-height: 150px;
}

.list_templates_projects_names{
    padding: 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    line-height: 24px;
}
.list_templates_projects_names.current{
    color: #ffffff;
    background-color: #707070;
    border: 1px solid #707070;
}
.list_templates_projects_names.hover{
    color: #ffffff;
    background-color: darkgrey;
    text-decoration: none;
    border: 1px solid darkgrey;
}

#select_projects label{
    font-weight: normal;
    float: none;
    text-align: right;
    /* width of left column */
    margin-left: 0;
    /* width of labels. Should be smaller than left column to create some right margin */
    width: 175px;
}

#project_nested_list.columns {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
    max-height: 500px;
    overflow: auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}
#project_nested_list label.inactive{
    color: #d3d3d3;
}

.actions_links{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}