#admin-menu a.issue-templates {
    background-image: url(../images/duplicate.png);
}

#main-menu .menu-children {
    margin-left: -3px;
}

#main-menu .menu-children li a {
    padding-top: 8px;
    margin: 0;
}

#main-menu .menu-children li a.new-issue-sub {
    background-color: #f6f6f6;
    font-style: italic;
    color: #999999;
}

#main-menu .menu-children li a.new-issue-sub:hover, #main-menu .menu-children li a.new-issue-sub:focus {
    background-color: #229e43;
    font-style: italic;
    color: #fff;
}

.pull-right {
    float: right
}

.pull-right-with-marging {
    float: right;
    margin-right: 1em;
}

#form-select-issue-template {
    float: right;
    margin-right: 10px;
}

table#templates_list td, table#templates_list th {
    text-align: left;
}

table#templates_list td.center, table#templates_list th.center {
    text-align: center;
}

table#templates_list td div {
    max-height: 110px;
    overflow: auto;
}

table .template_icon {
    width: 44px;
}

.template_box {
    border: 1px dashed #d3d3d3;
    padding: 5px;
    margin-bottom: 10px;
}

.template_box table.list {
    margin-top: 10px;
}

.template_tracker {
    margin: 0 0 5px 0;
}

.template_id {
    width: 100px;
}

.template_subject {
    width: auto;
    max-width: 300px;
}

.template_title {
    width: 250px;
}

.template_author, .template_update {
    width: 160px;
}

.template_enable {
    width: 50px;
}

.template_projects {
    max-width: 300px;
    white-space: normal;
}

.box.header {
    background-color: #edf3fe;
}

form#issue-template-form #issue_template_template_title {
    width: 300px;
}

form#issue-template-form .select_projects {
    margin: 0;
    padding: 3px 0 3px 0;
    /* padding-left: 50px; */
    min-height: 1.8em;
    clear: left;
}

#select_projects {
    max-height: 150px;
    overflow: auto;
}

.list_templates_projects_names {
    padding: 2px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    /* line-height: 24px; */
    margin: 1px 0 2px 0;
    display: inline-block;
}

a.list_templates_projects_names.hover {
    color: #ffffff;
    background-color: darkgrey;
    text-decoration: none;
    border: 1px solid darkgrey;
}

a.list_templates_projects_names.current {
    color: #ffffff;
    background-color: #707070;
    border: 1px solid #707070;
}

#select_projects label {
    font-weight: normal;
    float: none;
    text-align: right;
    /* width of left column */
    margin-left: 0;
    /* width of labels. Should be smaller than left column to create some right margin */
    width: 175px;
}

.projects_container {
    max-height: 500px;
    overflow: auto;

    border-bottom: 1px solid #d3d3d3;
}

#project_nested_list.columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    padding-bottom: 10px;
}

#project_nested_list label.inactive {
    color: #d3d3d3;
}

.actions_links {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3d3d3;
}

#link_update_project_list {
    /* margin-left: 50px; */
}

.templates_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.template_card {
    border: 1px solid #D8DDE6;
    border-radius: 2px;
    position: relative;
    transition: all 100ms ease-in-out;
    background: #fff;
    transition: all 150ms ease-in-out;
    color: #3F3F44;
    display: flex;
    flex-direction: column;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    padding: 20px;
    margin-bottom: 15px;
    flex: 1 0 39%;
    margin-right: 15px;
    cursor: pointer;
}

.template_card .template-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin: 0 auto;
}

.template_card .error {
}

.template_card .template-title {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.template_card .template-description {
    font-size: 11px;
    color: #4C4C4C;
    margin-top: 10px;
    margin-bottom: 0;
}

.template_card:hover {
    text-decoration: none !important;
    background-color: #FCF5C1;
}

.link-cursor {
    cursor: pointer;
}

.instruction-warning, .instruction-note, .instruction-info {
  border: none; padding:1.5em 1.5em 1.5em 48px; margin-top: 0.25em; line-height: 1.4em;
  color:#333; text-align:left; display:block; font-size:12px; max-width: 800px;
}
.instruction-warning { background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top; }
.instruction-note { background: #fff9d8 url(../images/tab_note.gif) no-repeat left top; }
.instruction-info { background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top; }
