<% if User.current.admin? || User.current.allowed_to?(:create_issue_templates, @project) %>
  <h3><%= l(:label_issue_templates) %></h3>
  <%= link_to l("show_templates"), issue_templates_path(project_id: @project.id) %>
<% end %>