<%= issue_template_section_form(form, IssueTemplateDescriptionDate, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre (obligatoire)", :label => 'Date', :size => 45 %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.text_field :description, :placeholder => "Description", label: "Description", :size => 80 %>
    </p>
  </div>
<% end %>
