<%= issue_template_section_form(form, IssueTemplateDescriptionTitle, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre (obligatoire)", :label => 'Sous-titre', :size => 45 %>
  </p>
<% end %>
