<%= issue_template_section_form(form, IssueTemplateDescriptionTitle, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre", :label => 'Séparateur avec titre', :size => 45, :required => false %>
  </p>
<% end %>
