<%= issue_template_section_form(form, IssueTemplateDescriptionTitle, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre", :label => 'Séparateur avec titre', :size => 45, :required => false %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.check_box :repeatable, label: "Grouper les sous-sections en bloc répétable" %>
    </p>
  </div>
<% end %>
