<h2>
  <%= link_to l(:label_issue_templates), issue_templates_path %> &#187; <%= @issue_template.template_title %>
</h2>

<div id="all_attributes">
  <%= render :partial => 'issue_templates/form' %>
</div>

<%= javascript_tag do %>
  // Display button title form if bloc is set as repeatable
  $( document ).ready(function() {
    $(".repeatable_checkbox").each(function(){
      if($(this).is(':checked')){
        $(this.parentElement.nextElementSibling).show();
      }
    });
  });
<% end %>