<% html_title(l(:label_issue_templates)) %>

<div class="contextual">
  <%= link_to(l(:label_new_templates),
                            {:controller => 'issue_templates', :action => 'init', :project_id => @project},
                            :class => 'icon icon-add', :method => :post) %>
</div>

<h2 class="template"><%=h "#{l(:label_issue_templates)}" %></h2>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>

<%= render 'list_templates', templates: @templates, project: @project %>